
.container{
    padding: 2rem 7%;
}

.container .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid #ccc;
    padding: 1rem ;
}

.list-name{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    width: 20%;

}

.list-name span{
    color: #ccc;
    font-size: 1.2rem;
}

.list--button button{
    background-color: #000;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
