
.container h3{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: black;
    letter-spacing: 1px;
}

form input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    outline: none;
}

form button{
    background-color: black;
    color: #fff;
    padding: .5rem 1rem;
    cursor: pointer;
}